<p>ID: <%= user.id %></p>
<p>Name: <%= user.name.givenName %></p>
<p>Email: <%= user._json.mail %></p>
<p>Job Title: <%= user._json.jobTitle %></p>
<p>Office Location: <%= user._json.officeLocation %></p>